<div id="main-div">
  <div class="text-center">
    <div>
      <h1 class="m-0">FLÁVIO MAMEDE</h1>
      <%# <p class="mt-0">Empowering users through intuitive products</p> %>
    </div>
    <div class="d-flex gap-3 justify-content-center">
      <%= mail_to 'flaviojsmamede@gmail.com', 'EMAIL', target: '_blank', class: 'main-link' %>
      <%= link_to 'RESUME','https://drive.google.com/file/d/1HEnlUDVtjF1XL8nLSWTLQtdo6JB4VE9E/view', target: '_blank', class: 'main-link' %>
      <%= link_to 'GITHUB','https://github.com/flaviojsmamede', target: '_blank', class: 'main-link' %>
      <%= link_to 'LINKEDIN','https://www.linkedin.com/in/flaviomamede/', target: '_blank', class: 'main-link' %>
    </div>
  </div>
</div>

<div id="projects-div">
  <div class="text-center">
    <div>
      <h1 class="m-0 pb-5">PROJECTS</h1>
    </div>
      <% @projects.each_with_index do |project| %>
          <div class="d-flex gap-3 justify-content-center flex-column align-items-center">
              <span><img src=<%= project.images %> alt="project image" class="link-image"></span>
              <%= link_to project.title.upcase, project_path(project), class: 'project-link', onmouseover: 'color: blue' %>
              <div class="border-bottom border-light w-75 opacity-50"></div>
          </div>
      <% end %>
  </div>
</div>
