<div id="home">
  <div class="text-center">
    <div>
      <h1 class="m-0">FLÁVIO MAMEDE</h1>
    </div>
    <div class="d-flex gap-3 justify-content-center">
      <%= mail_to 'flaviojsmamede@gmail.com', 'EMAIL', target: '_blank', class: 'main-link' %>
      <%= link_to 'RESUME','https://drive.google.com/file/d/1HEnlUDVtjF1XL8nLSWTLQtdo6JB4VE9E/view', target: '_blank', class: 'main-link' %>
      <%= link_to 'GITHUB','https://github.com/flaviojsmamede', target: '_blank', class: 'main-link' %>
      <%= link_to 'LINKEDIN','https://www.linkedin.com/in/flaviomamede/', target: '_blank', class: 'main-link' %>
    </div>
  </div>
</div>

<div id="projects">
  <div class="text-center">
  <div>
    <h1 class="m-0 pb-5 ps-5">PROJECTS</h1>
  </div>
    <% @projects.each do |project| %>
        <div class="d-flex gap-3 justify-content-center flex-column ps-5">
            <%= link_to project.title.upcase, project_path(project), class: 'project-link' %>
            <div class="hover-image" style="left: <%= rand(7..40) %>%; top: <%= rand(120..155) %>%; ">
              <img src=<%= project.images[0] %> alt="project image">
            </div>
        </div>
    <% end %>
  </div>
</div>

<div id="profile-div" class="d-none">
  <div class="text-center">
    <%= form_with scope: :contact_form, url: contact_form_index_path, method: :post, local: true, class: "container" do |form| %>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :email %>
        <%= form.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :message %>
        <%= form.text_area :message, class: "form-control" %>
      </div>
      <%= form.submit "Submit", class: "btn btn-primary" %>
    <% end %>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
      <%= value %>
      </div>
    <% end %>
  </div>
</div>
