<div id="project-main-div">
  <div class="text-center">
    <h1 class="m-0 mb-3"><%= @project.title.upcase %></h1>
    <div>
      <% @project.roles.each do |role| %>
        <span class="ms-3"><%= role.upcase %></span>
      <% end %>
    </div>
    <div>
      <% @project.technologies.each do |tech| %>
        <span class="opacity-75 ms-3"><%= tech.upcase %></span>
      <% end %>
    </div>
    <div class="p-5">
      <% @project.description.split('.').each do |description| %>
        <p class="mt-0 opacity-75 m-0"><%= description %>.<br></p>
      <% end %>
    </div>
    <%= link_to 'OPEN PROJECT', @project.url, target: '_blank', class: 'btn btn-outline-light border border-light' %>
  </div>
</div>

<div id="<%= @project.title == '2Care' ? 'project-images-div-mobile' : 'project-images-div' %>" class="d-flex justify-content-center">
  <div class="text-center">
    <div class="">
      <% @project.images.drop(1).each do |image| %>
      <div>
        <%= image_tag(image)%>
      </div>
      <% end %>
    </div>
    <%= link_to 'MORE PROJECTS', root_path(anchor: "projects-div"), class: 'btn btn-outline-light border border-light mt-5' %>
  </div>
</div>
